<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Initial Suite"  >
    <listeners>
        <listener class-name="utilities.TestListener"/>
    </listeners>
    <test name="SearchFunctionVerification">
        <classes>
            <class name="net.meritagehomes.uat.SearchTest"/>
        </classes>
    </test>
</suite>